<div class="pc-none">
     <table>
        <tr>
          <th>撮影機種・アプリ <%= image_tag('app.png', :size =>'20x20') %></th>
          <td class="align-middle"><%= @post.photo_app %></td>
        </tr>
        <tr>
          <th>撮影フィルター <%= image_tag('filter.png', :size =>'20x20') %></th>
          <td><%= @post.photo_filter %></td>
        </tr>
        <tr>
          <th>加工アプリ <%= image_tag('body.png', :size =>'20x20') %></th>
          <td><%= @post.fix_app %></td>
        </tr>
        <tr>
          <th>加工フィルター <%= image_tag('settei.png', :size =>'20x20') %></th>
          <td><%= @post.fix_filter %></td>
        </tr>
      </table>
      <br><br>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th>露出</th>
            <td><%= @post.exposure %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>ハイライト</th>
            <td><%= @post.highlight %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th>明るさ</th>
            <td><%= @post.brightness %></td>
          </tr>
        </table>
        <table>
          <tr>

            <th>ブリリアンス</th>
            <td><%= @post.burilliance %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th>暖かさ</th>
            <td><%= @post.warmth %></td>
          </tr>
        </table>
        <table>
           <tr>
            <th>コントラス</th>
            <td><%= @post.contrast %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th>彩度</th>
            <td><%= @post.saturation %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>シャドウ</th>
            <td><%= @post.shadow %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex float-left">
        <table>
          <tr>
            <th>シャープネス</th>
            <td><%= @post.sharpness %></td>
          </tr>
        </table>
      </div>
      <br><br>
      <p><%= simple_format(@post.explanation) %></p>
      <p><%= render_with_hashtags(@post.body) %></p>
      <br><br>
    </div>
