<div class="container post-show">
  <div class="post-content post-content-m mr-2">
    <div class="d-flex">
      <div class="profile-shape mr-auto p-2 bd-highlight">
          <%= link_to user_path(@post.user), data: {"turbolinks" => false} do %>
            <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %>
            <%= @post.user.username %>
          <% end %>
        </div>
          <% if user_signed_in? && current_user.id == @post.user_id  %>
            <%= link_to image_tag('edit.png', :size =>'20x20'), edit_post_path(@post), class: "p-4 edit-post", data: {"turbolinks" => false} %>
            <%= link_to image_tag('delete.png', :size =>'20x20'), post_path(@post), class: "p-4 delete-post", method: :delete, "data-confirm" => "本当に削除しますか？", data: {"turbolinks" => false} %>
          <% end %>
      </div>

      <div class="post-size-show text-center">
        <%= link_to @post.image.url, "data-lightbox": @post.image.url do %>
          <%= image_tag @post.image.url %>
        <% end %>
      </div>

      <div class="d-flex">
        <!--いいねボタン-->
        <div class="d-flex mr-auto p-2 bd-highlight">
          <div id="like-icon-post-<%= @post.id.to_s %>">
            <%= render 'like', { post: @post } %>
          </div>
          <div id="like-text-post-<%= @post.id.to_s %>" class="mt-2">
            <%= render "like_text", { likes: @post.likes, post: @post } %>
          </div>
        </div>
        <!--ツイート共有ボタン-->
        <div class="p-2 bd-highlight">
          <%= link_to "ツイート共有", "https://twitter.com/share?url=#{ request.url }/&text=フォトレシピを投稿しました！&hashtags=スマフォトレシピ", class: 'tweet-btn hide-text', target: '_blank' %>
        </div>
        <!--ブックマークボタン-->
        <div class="p-2 bd-highlight">
          <div id="bookmark-icon-post-<%= @post.id.to_s %>">
            <%= render 'bookmark', { post: @post } %>
          </div>
        </div>
      </div>

      <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= @post.title %></p><br>
      <%= render 'mobile_show', post: @post %>

      <div class="mobile-none">
      <table>
        <tr>
          <th style="width: 75%">撮影機種・アプリ <%= image_tag('app.png', :size =>'20x20') %></th>
          <td class="align-middle"><%= @post.photo_app %></td>
        </tr>
        <tr>
          <th style="width: 75%">撮影フィルター <%= image_tag('filter.png', :size =>'20x20') %></th>
          <td><%= @post.photo_filter %></td>
        </tr>
        <tr>
          <th style="width: 75%">加工アプリ <%= image_tag('body.png', :size =>'20x20') %></th>
          <td><%= @post.fix_app %></td>
        </tr>
        <tr>
          <th style="width: 75%">加工フィルター <%= image_tag('settei.png', :size =>'20x20') %></th>
          <td><%= @post.fix_filter %></td>
        </tr>
      </table>
      <br><br>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th class="pl-0">露出 <%= image_tag('exposure.png', :size =>'20x20') %></th>
            <td><%= @post.exposure %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>ハイライト <%= image_tag('highlight.png', :size =>'20x20') %></th>
            <td><%= @post.highlight %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>ブリリアンス <%= image_tag('burilliance.png', :size =>'20x20') %></th>
            <td><%= @post.burilliance %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th class="pl-0">明るさ <%= image_tag('brightness.png', :size =>'20x20') %></th>
            <td><%= @post.brightness %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>シャドウ <%= image_tag('shadow.png', :size =>'20x20') %></th>
            <td><%= @post.shadow %></td>
          </tr>
        </table>
        <table>
           <tr>
            <th>コントラスト <%= image_tag('contrast.png', :size =>'20x20') %></th>
            <td><%= @post.contrast %></td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <table>
          <tr>
            <th class="pl-0">彩度 <%= image_tag('saturation.png', :size =>'20x20') %></th>
            <td><%= @post.saturation %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>暖かさ <%= image_tag('warmth.png', :size =>'20x20') %></th>
            <td><%= @post.warmth %></td>
          </tr>
        </table>
        <table>
          <tr>
            <th>シャープネス <%= image_tag('sharpness.png', :size =>'20x20') %></th>
            <td><%= @post.sharpness %></td>
          </tr>
        </table>
      </div>
      <br><br>
      <!--改行して内容表示-->
      <p><%= simple_format(@post.explanation) %></p>
      <p><%= render_with_hashtags(@post.body) %></p>
      <br><br>
    </div>
    </div>

  <div class="post-comment"><br>
      <!--コメント-->
      <p>comments ...</p>
      <div id="review-post-<%= @post.id.to_s %>">
        <%= render 'review_list', { post: @post } %>
      </div>
      <div class="row" id="review-form-post-<%= @post.id.to_s %>">
        <%= render 'review_new', { post: @post } %>
      </div>
  </div>
</div>