<div class="container">
  <div class="col-6 mx-auto">
    <h2>Log in!</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email %><div class="necessary">*</div><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><div class="necessary">*</div><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "log in!", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
    <br>
    <p>アカウントをお持ちですか？
      <%= link_to "Sign up!", new_user_registration_path %>
    </p>
    <p>
      ☆お試しログインは
      <%= link_to "こちら", users_guest_sign_in_path, method: :post %>
    </p>
  </div>
</div>