<div class="container">
  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <h3>ユーザー 一覧</h3>
      <br>
      <%= render 'users_search' %>
      <br><br>
      <table class="table table-hover table-inverse table-responsive-md mt-3">
        <thead class="table-active">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= link_to admin_user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= user.username %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <% if user.is_deleted == true %>
                  <p class="text-secondary">退会</p>
                <% else %>
                  <p class="text-success">有効</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
