<div class="container">
  <div class="col-12 mx-auto text-center">
    <div class="profile-shape">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br><br>
      <div class="mypage-edit">
        <div class="english-big"><%= @user.username %></div>
        <% if current_user == @user %>
          <%= link_to edit_user_path(current_user), data: {"turbolinks" => false} do %>
            <%= image_tag 'haguruma.png', :size =>'20x20' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>

    <!--SNSリンク-->
    <div class="d-flex justify-content-center">
      <%= render 'snslinks', user: @user %>
    </div>

    <%= @user.introduction %>
    <br><br>
    <% unless current_user == @user %>
      <%= render 'follow', user: @user %>
    <% end %>
    <br><br>
    <div class="english-big">
      followers
      <%= link_to user_followers_path(@user), class: "ml-1 mr-3", data: {"turbolinks" => false} do %>
        <%= @user.followers.count %>
      <% end %>
      followings
      <%= link_to user_followings_path(@user), class: "ml-1 mr-3", data: {"turbolinks" => false} do %>
        <%= @user.followings.count %>
      <% end %>
    </div>
    <%= link_to bookmark_user_path(@user) do %>
      <%= image_tag 'bookmark-on.png', :size => '20x20', class: "ml-3", data: {"turbolinks" => false} %>
    <% end %>
    <br><br>
    <%= render 'public/homes/index', obj: @posts %>
  </div>
</div>