<div class="profile-shape">
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
</div>
<br>
<%= @user.username %>
<br>
<% if @user == current_user %>
<%= @user.name %>
<br>
<%= @user.email %>
<% end %>
<br>
<%= @user.introduction %>
<br>
<% unless current_user == @user %>
<%= render 'follow', user: @user %>
<% end %>
<br>
フォロワー：
<%= link_to user_followers_path(@user) do %>
<%= @user.followers.count %>
<% end %>
|
フォロー：
<%= link_to user_followings_path(@user) do %>
<%= @user.followings.count %>
<% end %>
<br>
<% if current_user == @user %>
<%= link_to "マイページ編集", edit_user_path(current_user) %>
<% end %>
<br>