<header class="fixed-top">
  <nav class="nav">
    <ul class="nav-items">
      <!--検索フォーム-->
      <li class="nav-item">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
          <div class="search-button">
            <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "form-control" %>
            <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <span><%= link_to "Make a Recipe!", new_post_path, class: "nav-link" %></span>
        </li>
        <li class="nav-item">
          <span><%= link_to "Timeline", timeline_path(current_user), class: "nav-link" %></span>
        </li>
        <li class="nav-item">
          <span><%= link_to "Ranking", weekly_rank_posts_path, class: "nav-link" %></span>
        </li>
        <li class="nav-item">
          <span><%= link_to "Mypage", user_path(current_user), class: "nav-link" %></span>
        </li>
        <li class="nav-item">
          <span><%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: :delete %></span>
        </li>
      <% else %>
        <li class="nav-item">
          <span><%= link_to "Login", new_user_session_path, class: "nav-link" %></span>
        </li>
        <li class="nav-item">
          <span><%= link_to "Signup!", new_user_registration_path, class: "nav-link" %></span>
        </li>
      <% end %>
    </ul>
  </nav>
</header>